## 파이썬 자료형

In [1]:
x1 = 10
x2 = 10.0
x3 = "10"

print(x1, x2, x3)
print(type(x1), type(x2), type(x3))

10 10.0 10
<class 'int'> <class 'float'> <class 'str'>

In [2]:
# 실수형 읽기
a = 1e-5
print(a==0.00001)

True

In [3]:
a = 3.7
b = int(a)
print(a)
print(b)

3.7
3

In [4]:
a = 3
b = float(a)
print(a)
print(b)

3
3.0

In [4]:
a += 3

In [6]:
# a = "영희가 말했어요 "철수야 밥 먹었니?""
a = "영희가 말했어요 \"철수야 밥 먹었니?\""
a = "영희가 말했어요 '철수야 밥 먹었니?'"

In [6]:
print("Hello" + "World!")
print("Hello "*4)

HelloWorld!
Hello Hello Hello Hello

In [7]:
text = "1234567890"

# text[start:end:space]
text[1::2]

'24680'

In [8]:
text = "세종(한국 한자: 世宗, 중세 한국어: ·솅조ᇰ[1], \
1397년 5월 15일 (음력 4월 10일)[2] ~ 1450년 3월 30일 (음력 2월 17일))은 \
조선의 제4대 국왕(재위 : 1418년 9월 9일 ~ 1450년 3월 30일)으로, 태종과 원경왕후의 아들이다. \
형인 양녕대군이 폐세자가 되자 세자에 책봉되었으며 태종의 양위를 받아 즉위하였다.[3]"

In [9]:
text.count("태종")

2

In [10]:
text = text.replace("世宗", "").replace("·솅조ᇰ[1]", "")
text

'세종(한국 한자: , 중세 한국어: , 1397년 5월 15일 (음력 4월 10일)[2] ~ 1450년 3월 30일 (음력 2월 17일))은 조선의 제4대 국왕(재위 : 1418년 9월 9일 ~ 1450년 3월 30일)으로, 태종과 원경왕후의 아들이다. 형인 양녕대군이 폐세자가 되자 세자에 책봉되었으며 태종의 양위를 받아 즉위하였다.[3]'

In [11]:
words = text.split(" ")
print(words)

['세종(한국', '한자:', ',', '중세', '한국어:', ',', '1397년', '5월', '15일', '(음력', '4월', '10일)[2]', '~', '1450년', '3월', '30일', '(음력', '2월', '17일))은', '조선의', '제4대', '국왕(재위', ':', '1418년', '9월', '9일', '~', '1450년', '3월', '30일)으로,', '태종과', '원경왕후의', '아들이다.', '형인', '양녕대군이', '폐세자가', '되자', '세자에', '책봉되었으며', '태종의', '양위를', '받아', '즉위하였다.[3]']

In [12]:
" ".join(words)

'세종(한국 한자: , 중세 한국어: , 1397년 5월 15일 (음력 4월 10일)[2] ~ 1450년 3월 30일 (음력 2월 17일))은 조선의 제4대 국왕(재위 : 1418년 9월 9일 ~ 1450년 3월 30일)으로, 태종과 원경왕후의 아들이다. 형인 양녕대군이 폐세자가 되자 세자에 책봉되었으며 태종의 양위를 받아 즉위하였다.[3]'

In [13]:
# 리스트

a = [str(i) for i in range(10)]
print(a)
print(a[2:5:2])

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
['2', '4']

In [14]:
a.append("10")
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [15]:
import random

a = [random.randint(0, 10) for _ in range(10)]

print(a)

a.sort()
print("정렬하기 :", a)
a.reverse()
print("순서 뒤집기 :", a)
a.insert(3, 37)
print("가운데 넣기 :", a)
a.remove(37)
print("값 지우기 :", a)
print("마지막 값 반환하기 :", a.pop())
a.extend([33, 44, 55])
print("마지막 데이터 추가하기", a)

[8, 2, 10, 3, 5, 3, 5, 8, 0, 6]
정렬하기 : [0, 2, 3, 3, 5, 5, 6, 8, 8, 10]
순서 뒤집기 : [10, 8, 8, 6, 5, 5, 3, 3, 2, 0]
가운데 넣기 : [10, 8, 8, 37, 6, 5, 5, 3, 3, 2, 0]
값 지우기 : [10, 8, 8, 6, 5, 5, 3, 3, 2, 0]
마지막 값 반환하기 : 0
마지막 데이터 추가하기 [10, 8, 8, 6, 5, 5, 3, 3, 2, 33, 44, 55]

In [16]:
a = ("Hello", "World", "Python")
b = (1, 2, 3)
c = 1, "hi", 2
print(type(a), type(b), type(c))
print(a)
print(b)
print(c)

<class 'tuple'> <class 'tuple'> <class 'tuple'>
('Hello', 'World', 'Python')
(1, 2, 3)
(1, 'hi', 2)

In [19]:
list_a = [1, 2, 3]
list_a[2] = 1
print(list_a)

tuple_a = (1, 2, 3)
tuple_a[2] = 1
print(tuple_a)

[1, 2, 1]
3

TypeError: 'tuple' object does not support item assignment

In [20]:
tuple2list = list(tuple_a)
print(tuple2list)
tuple2list[2] = 1
print(tuple2list)

[1, 2, 3]
[1, 2, 1]

In [21]:
a = {1: 'one',
     'A': '가',
     '과목': ['수학', '영어']}

print(type(a))
print(a)

<class 'dict'>
{1: 'one', 'A': '가', '과목': ['수학', '영어']}

In [22]:
print(a.keys())
print(a.values())
print(a.items())
del a["A"]
print(a.items())
a.clear()
print(a)

dict_keys([1, 'A', '과목'])
dict_values(['one', '가', ['수학', '영어']])
dict_items([(1, 'one'), ('A', '가'), ('과목', ['수학', '영어'])])
dict_items([(1, 'one'), ('과목', ['수학', '영어'])])
{}

In [23]:
text = "세종(한국 한자: 世宗, 중세 한국어: ·솅조ᇰ[1], \
1397년 5월 15일 (음력 4월 10일)[2] ~ 1450년 3월 30일 (음력 2월 17일))은 \
조선의 제4대 국왕(재위 : 1418년 9월 9일 ~ 1450년 3월 30일)으로, 태종과 원경왕후의 아들이다. \
형인 양녕대군이 폐세자가 되자 세자에 책봉되었으며 태종의 양위를 받아 즉위하였다.[3]"

word_list = text.split()
print(len(word_list))
# 중복 제거
word_list = set(word_list)
print(len(word_list))
print(word_list)

43
39
{'·솅조ᇰ[1],', '1418년', '세종(한국', '즉위하였다.[3]', ':', '3월', '양위를', '태종과', '30일)으로,', '태종의', '조선의', '9월', '30일', '원경왕후의', '15일', '9일', '17일))은', '1397년', '4월', '제4대', '아들이다.', '10일)[2]', '세자에', '한자:', '2월', '중세', '한국어:', '되자', '받아', '폐세자가', '책봉되었으며', '世宗,', '(음력', '~', '1450년', '형인', '국왕(재위', '양녕대군이', '5월'}

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print(s1 & s2)
print(s1.intersection(s2))

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print(s1 | s2)
print(s1.union(s2))

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print(s1 - s2)
print(s1.difference(s2))

### 실습1

In [ ]:
# 실습1

i = input()
# 형변환
i = None

f = input()
# 형변환
f = None

print(i + f)

### 퀴즈2

In [ ]:
# 퀴즈2

height = 172

if height __ 160:
    print("키가 너무 작습니다.")
elif height __ 190:
    print("키가 너무 큽니다.")
else:
    print("탑승 가능합니다.")

## 조건문

In [ ]:
# 조건문

chatting = ["안녕", "반가워", "너 바보야?"]
bad_word = "바보"

for chat in chatting:
    if bad_word in chat:
        print("검열되었습니다.")
    else:
        print(chat)

### 실습2

사용자로부터 숫자(N)이 문자열의 형식으로 입력됩니다.

1≤N

이 숫자가 홀수인지 짝수인지에 따라 아래의 문자열을 출력합니다.

홀수일 때: "홀수입니다."
짝수일 때: "짝수입니다."

In [ ]:
# 실습 2

## 반복문

In [ ]:
# 반복문

a = [1, 2, 3, 4, 5]
for i in a:
    print(i)

dic = {'수학': 90, '영어': 100}
for i, j in dic.items():
    print("과목:", i, "/ 점수:", j)

In [ ]:
list_a = ["A", "B", "C"]

for idx, value in enumerate(list_a):
    print(idx, value)

In [ ]:
star_cnt = 1

for i in range(5):
    for _ in range(star_cnt):
        print("*", end="")
    star_cnt += 1
    print("\n")

### 퀴즈3

아래 코드를 실행했을 때 출력되는 별(*)의 개수는?

```
for i in range(2, 7):
    print("*")
    for j in range(4, 11, 2):
        print("*")
```

In [ ]:
# for i in range(2, 7):
#     print("*")
#     for j in range(4, 11, 2):
#         print("*")

### 실습3 - 채점 프로그램

학생이 제출한 총 10문제의 답안이 공백을 구분으로 입력됩니다.

답안은 1이상 5이하의 정수입니다.
주어진 문제의 정답 ANSWER와 학생이 입력한 답안을 순서대로 비교하여 일치하는지 비교하여 채점합니다.

학생이 맞춘 정답의 수를 다음과 같은 형식으로 출력합니다.

```점수: 4```

In [ ]:
# 정답 (변경 금지)
ANSWER = [3, 1, 3, 5, 5, 1, 2, 2, 4, 4]

# 학생이 제출한 답안
student = None

# 점수
score = 0

# 지시사항을 보고 코드를 작성하세요.
None

# 출력
print("점수:", score)

## 파이썬 제어문

In [ ]:
# break

# 조건문

chatting = ["안녕", "반가워", "너 바보야?", "할 수 있어!", "힘 내!"]
bad_word = "바보"

for chat in chatting:
    if bad_word in chat:
        print("검열되었습니다.")
        break
    print(chat)

In [ ]:
a = 3
while True:
    a -= 1
    if a == 0:
        break
    print(a)

In [ ]:
end_word = "끝"

while True:
    chat = input()
    if end_word in chat:
        break

### 퀴즈4

다음 코드를 실행했을 때, 출력되는 결과는?

```
count = 1
a = 1
while True:
    if a > 10:
        break
    a = a * 3 - 1
    count += 1
    
print(count)
```

### 실습4

1. 사용자는 여러 개의 정수를 한줄씩 입력합니다.

    * 숫자의 갯수는 100개 이하입니다.

2. 만약 입력받은 숫자가 -1이 아니라면 sum에 방금 입력받은 숫자를 더합니다.

3. 만약 입력받은 숫자가 -1이라면 지금까지 더한 sum을 출력합니다.

    * -1은 sum에 더하지 않고 출력합니다.

<입출력 예시>

입력 :
```
1
2
3
-1
```
출력 :
```
6
```

입력 :
```
1
2
3
4
5
100
-1
```
출력 :
```
115
```

In [ ]:
# 숫자의 합
sum = 0

while True:
    # 입력받은 숫자
    n = None

    # 숫자가 -1이라면 탈출
    None

    # 아니라면 합계에 n을 더함
    None

# 합계 출력
print(sum)

## 파이썬 함수

In [ ]:
def no_return():
    a = 'hi'

def do_return():
    return 'hi'

re = no_return()
print(re)

re = do_return()
print(re)

In [ ]:
# global_var = 100

def print_global():
    global_var = 50
    print(global_var)

print_global()
print(global_var)

가장 좋은건 애초에 함수 안과 밖의 변수를 최대한 분리해 놓는 것!

### 퀴즈5

In [ ]:
# a = 10
# def my_func(a):
#     b = 100
#     b += a
#     print(b)
#     return b

# a += my_func(20)

### 실습5

입력받은 문자열을 정수로 변환하고 1을 더해 출력하는 프로그램을 완성합니다.

[지시사항]
1. plus_one(value): 정수로 변환하고 1을 더하기
    * value에 정수값이 문자열의 형태로 주어질 때 이를 정수로 변환하고 1을 더하여 반환합니다.
    * 예를 들어 plus_one("100")은 101을 반환합니다.

In [ ]:
def plus_one(value):
    # 정수로 변환
    value = None

    # 1을 더함
    value = None
    return value


def main():
    # 입력받기 (문자열)
    value = input()

    # 입력받은 숫자에 1 더하기
    result = plus_one(value)

    print(result)


if __name__ == "__main__":
    main()

### 미션1 - 강의 만족도 분석

강의 만족도에 대한 데이터가 정수로 주어질 때, 이 데이터에 대한 최댓값, 최솟값, 최빈값을 각각 출력하는 프로그램을 작성하세요.

### 입력
* 첫째 줄에 강의에 만족도를 남긴 수강생의 수(N)가 입력됩니다.

        1≤N≤100

* 둘째 줄에 N명이 남긴 강의 만족도에 대한 데이터가 공백을 구분으로 입력됩니다.

* 강의 만족도는 1이상 10이하의 정수입니다.

### 출력
* 첫째 줄에 강의 만족도에 대한 최댓값, 최솟값, 최빈값을 순서대로 출력합니다.
* 최빈값이 여러 개인 경우, 그중 가장 큰 숫자를 출력합니다.

1. scores_to_dict(scores): {숫자:등장횟수} 형식의 딕셔너리로 변환

  * 문자열들의 리스트인 scores의 값을 {숫자:등장횟수}의 형식의 딕셔너리로 변환하고 반환하는 함수를 정의하세요.
  * 숫자와 등장횟수는 모두 정수형입니다.
  * 예를 들어 scores에 ["1", "3", "5"]를 전달받으면 {1: 1, 3: 1, 5: 1}을 반환합니다.
2. get_min_max(data): 최솟값, 최댓값을 찾아 반환

  * data의 값이 가장 작은 키와 가장 큰 키를 반환합니다.
  * data는 {숫자:등장횟수} 의 형태로 구성된 딕셔너리입니다.
  * 반드시 최소, 최대 순으로 반환해야 합니다.
  * 예를 들어 data에 {1: 1, 3: 1, 5: 1}을 전달받으면 (1, 5)를 반환합니다.
3. get_max_count_value(data): 최빈값을 계산

  * data는 scores_to_dict()함수를 통해 구한 딕셔너리 입니다.
  * 가장 많이 등장한 숫자를 반환합니다.
  * 최빈값이 두개 이상일 경우 가장 큰 수를 반환합니다.
  * 예를 들어 {1: 1, 3: 1, 5: 1}를 전달받으면 5를 반환합니다.

  <입출력 예시 1>

  [입력]
  ```
  10
1 2 3 4 5 10 9 8 7 6
```
[출력]
```
10 1 10
```
  <입출력 예시 2>

  [입력]
  ```
7
9 7 2 2 7 5 8
```
[출력]
```
9 2 7
```

In [ ]:
def scores_to_dict(scores):
    # {숫자:등장횟수}
    data = {}

    # data에 입력받은 숫자들을 저장
    None

    return data


def get_min_max(data):
    # 최솟값, 최댓값

    min_value = None
    max_value = None

    return min_value, max_value


def get_max_count_value(data):
    # 가장 많이 나온 숫자의 횟수
    max_count = max(data.values())

    # 가장 많이 나온 숫자 (최빈값)
    max_count_num = None

    None

    return max_count_num


def main():
    # N 입력
    N = int(input())

    scores = input().split(" ")

    # {숫자:등장횟수} 형식의 딕셔너리로 변환
    data = scores_to_dict(scores)

    # 최소, 최대 구하기
    min_value, max_value = get_min_max(data)

    # 가장 많이 나온 숫자 (최빈값)
    max_count_num = get_max_count_value(data)

    # 출력
    print(max_value, min_value, max_count_num)

if __name__ == "__main__":
    main()

## Numpy 행렬

In [ ]:
import numpy as np

In [ ]:
arr = np.array([1, 2, 3])
arr2 = np.array(range(5))
print(type(arr))
print(type(arr2))
print(arr)
print(arr2)

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6]],
                [[7, 8, 9], [10, 11, 12]],
                [[13, 14, 15], [16, 17, 18]],
                [[19, 20, 21], [22, 23, 24]]])
print(arr.ndim)
print(arr.shape)

In [ ]:
arr = np.array(range(10))
print(arr)

arr = np.arange(10)
print(arr)

In [ ]:
arr = arr.reshape(2, 5) # dimension이 나누어 떨어져야 한다.
print(arr)
print(arr.shape)

arr = arr.reshape(2, 5, 1)
print(arr)
print(arr.shape)

In [ ]:
zeros = np.zeros((2, 3, 2), dtype=int)
print(zeros)

ones = np.ones((4, 3), dtype=int)
print(ones)

In [ ]:
# 5이상 10미만의 (2,3) 크기의 랜덤 정수 행렬 생성
r = np.random.randint(5, 10, size=(2, 3))
print(r)

# 0 이상 5 미만의 (4, 3) 크기의 랜덤 정수 행렬 생성
r = np.random.randint(5, size=(4, 3))
print(r)

# 0~1 사이의 값을 갖는 (2, 4) 크기로 행렬 생성
r = np.random.rand(2, 4)
print(r)

In [ ]:
arr = np.array(
    [[[1, 2, 3], [4, 5, 6]],
     [[7, 8, 9], [10, 11, 12]]]
)
print(arr.shape)

print(arr[1])
print(arr[0][1])
# numpy는 쉼표로도 인덱싱 가능!
print(arr[1,0,2])

In [ ]:
arr = np.array(
    [[[1, 2, 3], [4, 5, 6]],
     [[7, 8, 9], [10, 11, 12]]]
)
print(arr[1:, :, 1:])

### 퀴즈6

아래 코드를 실행했을 때 출력되는 내용을 고르세요.

```
import numpy as np

ar1 = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

print(ar1.ndim, ar1.shape)
```

In [ ]:
# import numpy as np

# ar1 = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

# print(ar1.ndim, ar1.shape)

### 실습 6

1. make_array() -> np.ndarray: 1부터 200까지의 행렬 생성하기

  * 1부터 200까지의 정수로 구성된 1차원 행렬을 생성하여 반환합니다.
  * 생성된 행렬의 형태는 (200,)입니다.

2. reshape_array(ar: np.ndarray) -> np.ndarray: 행렬의 모양을 (25, 8)로 변형하기

  * 매개변수로 전달받은 행렬 ar을 (25, 8)의 형태로 변형하고 반환합니다.
  * 변형된 행렬의 형태는 (25, 8)이 됩니다.

In [ ]:
import numpy as np


def make_array() -> np.ndarray:
    """1부터 200까지의 정수를 담은 numpy array를 생성하고 반환합니다."""
    array = None
    return array


def reshape_array(ar: np.ndarray) -> np.ndarray:
    """행렬의 모양을 (25, 8)로 변형하여 반환합니다."""
    array = None
    return array


def main():
    # 1. 1부터 200까지의 행렬 생성
    ar = make_array()
    print(ar.shape)

    # 2. 행렬을 (25, 8)의 크기로 변형
    ar = reshape_array(ar)
    print(ar.shape)


if __name__ == "__main__":
    main()

## 8. Numpy 연산

In [ ]:
import numpy as np

na = np.array([1, 2, 3])
na2 = np.array([4, 5, 6])
print(na == 2)
print(na > 4)

In [ ]:
na = np.arange(10)
na2 = np.arange(10, 20)
print(na[na>5])
print(na2[na2%2==0])

In [ ]:
na = np.random.randint(1, 10, size=(5))

print(na)
print("최솟값 :", na.min())
print("최댓값 :", na.max())
print("최솟값 인덱스 :", na.argmin())
print("최댓값 인덱스 :", na.argmax())

In [ ]:
na = np.random.randint(10, size=(2, 3))

print(na)
print("all:", np.sum(na))
# axis는 헷갈려도 print() 해보고 고치면 됩니다!
print("axis 0:", np.sum(na, axis=0))
print("axis 1:", np.sum(na, axis=1))

In [ ]:
import numpy as np

na = np.arange(-5, 6)

print(na)
print("평균 :", np.mean(na))
print("중간값 :", np.median(na))
print("분산 :", np.var(na))
print("표준편차 :", np.std(na))

In [ ]:
na1 = np.array([1, 2, 3])
na2 = np.array([1, 2, 3])
na3 = np.array([1, 0, 3])

print(np.all(na1==na2))
print(np.all(na1==na3))
print(np.any(na1==na2))
print(np.any(na1==na3))

### 실습7

1. filter_3(array: np.ndarray) -> np.ndarray: 3의 배수만 골라내기

  * 매개변수로 전달된 numpy 행렬 array에서 3의 배수만 골라서 새로운 1차원 행렬 ar을 생성합니다.
  * ar을 반환합니다.

2. get_stat(array: np.ndarray): 행렬의 평균과 분산 구하기

  * 매개변수로 전달된 numpy 행렬 array의 평균을 구해 mean에 저장합니다.
  * 분산을 구해 var에 저장합니다.
  * mean, var을 반환합니다.

In [ ]:
import numpy as np


def filter_3(array: np.ndarray) -> np.ndarray:
    "array에서 3의 배수에 해당하는 값만 골라낸 행렬을 구하여 반환합니다."
    ar = None
    return ar


def get_stat(array: np.ndarray):
    "array의 평균과 분산을 구하여 반환합니다."
    mean = None
    var = None

    return mean, var


def main():
    # 입력 데이터(채점시엔 다른 데이터 사용)
    ar = np.arange(1, 67)

    # 1. 3의 배수만 골라내기
    ar = filter_3(ar)
    print(ar)

    # 2. 평균과 분산 구하기
    mean, var = get_stat(ar)
    print(mean, var)


if __name__ == "__main__":
    main()

### 미션2 - 시험성적 분석

* 학생들이 제출한 답안을 모아둔 행렬로 각 학생의 점수를 구하고 우리반의 통계정보를 계산합니다. 지시사항에 따라 코드를 완성하세요.

1. grade_all(ar_students: np.ndarray) -> np.ndarray: 채점하고 점수 행렬 반환하기 (50점)

  ar_students는 학생들이 제출한 답안을 모아둔 2차원 행렬입니다. 정답인 ANSWER와 비교하여 각 학생의 점수를 1차원 행렬로 만들어 반환하는 함수를 완성하세요.

  * 문항당 점수는 ANSWER와 같은 답을 제출했다면 1점, 아니면 0점입니다.
  * 한 학생의 점수는 0~10의 정수값입니다.
  * 반환값은 리스트가 아닌 np.array()를 통해 변환된 numpy 행렬이어야 합니다.
2. get_best_student(ar_scores: np.ndarray) -> int: 최고성적의 학생 구하기 (20점)

  ar_scores는 학생들의 점수로 구성된 1차원 행렬입니다. 여기서 가장 높은 점수를 받은 학생의 번호를 반환하는 함수를 완성하세요.

  * 학생의 번호는 0부터 시작하므로 첫번째 학생의 번호는 0입니다.
  * 1등 학생이 2명 이상일 경우 번호가 낮은 학생을 반환합니다.
3. stat_students(ar_scores: np.ndarray): 반의 평균과 표준편차 계산하기 (30점)

  ar_scores는 학생들의 점수로 구성된 1차원 행렬입니다. 학생 점수들의 평균과 표준편차를 계산하여 각각 mean, std에 저장하고 반환합니다.

완성 시 출력
```
모든 학생 점수: [2 2 2 2 3 4 1 2 1 2]
1등 학생 번호: 5
평균: 2.1
표준편차: 0.8306623862918076
```

In [ ]:
import numpy as np

# 정답 (변경시 0점)
ANSWER = np.array([3, 1, 2, 2, 4, 4, 1, 3, 5, 5])


def grade_all(ar_students: np.ndarray) -> np.ndarray:
    "학생들의 답안을 채점하고 점수를 행렬로 만들어 반환합니다."
    scores = []

    None

    return np.array(scores)


def get_best_student(ar_scores: np.ndarray) -> int:
    "점수가 가장 높은 학생의 번호(0부터 시작)를 반환합니다."
    best = None
    return best


def stat_students(ar_scores: np.ndarray):
    "학생 점수들의 평균과 표준 편차를 반환합니다."
    mean = None
    std = None
    return mean, std


def main():
    # 입력 데이터 (채점시엔 다른 데이터 사용)
    ar_stud = np.array(
        [
            [4, 4, 1, 3, 3, 3, 1, 3, 2, 4],
            [5, 5, 3, 2, 4, 2, 5, 2, 2, 4],
            [2, 4, 1, 5, 5, 5, 3, 3, 3, 5],
            [3, 5, 4, 3, 1, 3, 1, 1, 1, 4],
            [3, 2, 5, 1, 1, 4, 5, 3, 2, 3],
            [3, 2, 2, 4, 5, 2, 3, 2, 5, 5],
            [2, 4, 3, 2, 5, 2, 4, 4, 3, 4],
            [1, 3, 1, 3, 3, 5, 5, 3, 1, 5],
            [2, 5, 3, 2, 1, 5, 3, 5, 1, 2],
            [4, 2, 2, 1, 3, 5, 1, 5, 2, 1],
        ]
    )

    # 1. 채점하고 점수 행렬 반환하기
    ar_scores = grade_all(ar_stud)
    print("모든 학생 점수:", ar_scores)

    # 2. 최고성적의 학생 구하기
    best_student = get_best_student(ar_scores)
    print("1등 학생 번호:", best_student)

    # 3. 반의 평균과 표준편차 계산하기
    mean, std = stat_students(ar_scores)
    print("평균:", mean)
    print("표준편차:", std)


if __name__ == "__main__":
    main()