## Pandas

In [2]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## Pandas 문법 (1)

In [6]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randint(10, size=5), index=["A", "B", "C", "D", "E"])
print(s)
print("index :", s.index)
print("values :", s.values)

# pandas 값 접근.
print(s.A)
print(s["A"])

A    0
B    6
C    7
D    2
E    5
dtype: int32
index : Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
values : [0 6 7 2 5]
0
0

In [ ]:
s = pd.Series(np.random.randint(10, size=5), index=["A", "B", "C", "D", "E"])
print(s)
print("-"*20)
print(s["C"])
print("-"*20)
print(s[["B", "C", "E"]])
print("-"*20)
print(s[1::2])

In [ ]:
s = pd.Series(np.random.randint(10, size=5), index=["A", "B", "C", "D", "E"])
print(s)

print(s[s>5])

In [ ]:
dic = {"D": 3, "F": 7, "E": 5}
s = pd.Series(dic)
print(s)
print("-"*20)
for idx, val in s.items():
    print(idx, val)
print("-"*20)
for idx, val in dic.items():
    print(idx, val)

In [ ]:
s1 = pd.Series([90, 23, 74, 37], index=["5월 18일", "5월 19일", "5월 20일", "5월 21일"])
s2 = pd.Series([50, 60, 20], index=["5월 20일", "5월 21일", "5월 22일"])

result = s1 + s2
print(result)

In [ ]:
print(result.notnull())
print("-"*20)
print(result[result.notnull()])

### 실습2

주어지는 "data"에는 0~4까지의 숫자가 알파벳 순서의 Index를 가진 Series의 형태로 저장되어 있습니다.

indexing(data) : 데이터 인덱싱하기

* 인자로 전달받은 data의 값 중 인덱스가 ‘C’인 데이터를 반환하는 함수를 작성합니다.
* 전달되는 값과 반환되는 값은 다음과 같습니다.

[전달값]
```
A    0
B    1
C    2
D    3
E    4
dtype: int64
```

[반환값]
```
2
```

In [ ]:
import pandas as pd
import numpy as np


def indexing(data: pd.Series):
    """특정 인덱스의 데이터를 반환하는 함수입니다."""
    data = None
    return data


def main():
    # 데이터
    data = pd.Series(range(5), index=["A", "B", "C", "D", "E"])

    # 데이터 인덱싱
    data = indexing(data)

    # 인덱싱한 데이터 출력
    print(data)

    return 0


if __name__ == "__main__":
    main()

### 실습3 - 데이터 슬라이싱

주어지는 "data"에는 0~4까지의 숫자가 알파벳 순서의 Index를 가진 Series의 형태로 저장되어 있습니다.

1. `slicing(data)` : 데이터 슬라이싱하기

  * 인자로 전달받은 data의 값 중 인덱스가 1번부터 3번인 데이터를 반환하는 함수를 작성합니다.
  * 전달되는 값과 반환되는 값은 다음과 같습니다.
[전달값]
```
A    0
B    1
C    2
D    3
E    4
dtype: int64
```
[반환값]
```
B    1
C    2
D    3
dtype: int64
```
* 첫번째 데이터는 인덱스가 0입니다.

In [ ]:
import pandas as pd
import numpy as np


def slicing(data: pd.Series):
    """특정 범위의 데이터를 반환하는 함수입니다."""
    data = None
    return data


def main():
    # 데이터
    data = pd.Series(range(5), index=["A", "B", "C", "D", "E"])

    # 데이터 슬라이싱
    data = slicing(data)

    # 슬라이싱한 데이터 출력
    print(data)

    return 0

if __name__ == "__main__":
    main()

## Pandas 문법 (2)

In [ ]:
import pandas as pd

df = pd.DataFrame(columns=["Email", "Name"])
df["Name"] = ["doori", "minsu"]
df["Email"] = ["dr@gmail.com", "ms@gmail.com"]
df["Age"] = [20, 21]

print(df)
print(type(df))
print(type(df["Name"]))

In [ ]:
name = ["doori", "minsu"]
email = ["dr@gmail.com", "ms@gmail.com"]
age = [20, 21]
dic = {"Name": name, "Email": email, "Age": age}
df = pd.DataFrame(dic, index=["one", "two"])
df

In [ ]:
print(df.index)
print(df.columns)
print(df.values)

In [ ]:
print(df[df["Name"]=="doori"])

In [ ]:
email = ["dr@gmail.com", "ms@gmail.com", "hn@gmail.com", "hs@gmail.com", "hy@gmail.com"]
name = ["doori", "minsu", "hana", "hisu", "hyun"]
age = [20, 21, 25, 26, 20]

df = {"Email": email, "Name": name, "Age": age}
df = pd.DataFrame(df, index=["one", "two", "three", "four", "five"])
df

In [ ]:
print(df.iloc[0, 1])
print("-"*20)
print(df.iloc[[0, 3], [1, 2]]) # 원하는 범위
print("-"*20)
print(df.iloc[0:2, :2]) # 슬라이싱

In [ ]:
print(df)
print("-"*20)
print(df.loc["one", "Name"])
print("-"*20)
print(df.loc[["one", "four"], "Name"])
print("-"*20)
print(df.loc["two":"four", "Name"])

In [ ]:
df.loc["six"] = {"Email": "boo@gmail.com", "Name": "boo", "Age": 21}
df

In [ ]:
df["Address"] = ["Seoul", "Busan", "Jeju", "Daegu", "Seoul", "Kyung-ki"]
df

In [ ]:
print(df.shape)

In [ ]:
df1 = df.iloc[:3]
df2 = df.iloc[3:]
print(df1)
print("-"*20)
print(df2)
print("-"*20)
df3 = pd.concat([df1, df2]).reset_index(drop=True) # drop=False : 기존 인덱스를 유지한다.
print(df3)

In [ ]:
df3 = pd.concat([df1, df2], axis=1).reset_index(drop=True)
print(df3)

In [ ]:
print(df)
print("-"*20)
print(df.T)

### 실습5

1. `get_adults(df: pd.DataFrame)` -> `pd.DataFrame`: 성인만 추출하기

  `df`은 나이에 해당하는 “Age” 칼럼이 포함된 pd.DataFrame입니다.

  `df`에서 나이(“Age”)가 20 이상인 데이터를 추출하여 df_adults에 저장하고 반환하는 함수입니다.

  반드시 `df`에서 데이터를 추출하는 코드를 작성하세요. 단순히 특정 값을 반환하는 함수는 오답처리될 수 있습니다.

  [완성 시 출력]
  ```
             Email   Name  Age
1  minsu@gmail.com  minsu   20
2  james@gmail.com  james   25
  ```

In [ ]:
import pandas as pd


def get_adults(df: pd.DataFrame) -> pd.DataFrame:
    """df에서 Age가 20이상인 사람만 추출해 반환하는 함수입니다."""
    df_adults = None
    return df_adults


def main():
    # 입력 데이터 정의 (채점에서는 다른 데이터가 사용됩니다.)
    data = pd.DataFrame(columns=["Email", "Name", "Age"])
    data["Name"] = ["doori", "minsu", "james"]
    data["Email"] = ["doori@gmail.com", "minsu@gmail.com", "james@gmail.com"]
    data["Age"] = [16, 20, 25]

    # 성인만 추출
    df_adults = get_adults(data)
    print(df_adults)


if __name__ == "__main__":
    main()

## 데이터 집계 및 요약

In [ ]:
import pandas as pd

names = ["apple", "pear", "banana", "strawberry", "mango", "cherry", "melon"]
quantity = [3, 5, 1, None, 1, 5, 5]
fruit_df = pd.DataFrame({"Name": names, "Quantity": quantity})
fruit_df

In [ ]:
print("Quantity sum:", fruit_df.Quantity.sum())
print("Quantity mean:", fruit_df.Quantity.mean())
print("Quantity var:", fruit_df.Quantity.var())
print("Quantity std:", fruit_df.Quantity.std())
print("Quantity min:", fruit_df.Quantity.min())
print("Quantity max:", fruit_df.Quantity.max())
print("Quantity argmin:", fruit_df.Quantity.argmin())
print("Quantity argmax:", fruit_df.Quantity.argmax())

In [ ]:
fruit_df.describe(include='all')

In [ ]:
print(fruit_df.sort_values(by="Quantity"))
print()
print(fruit_df.sort_values(by="Name", ascending=False))

In [ ]:
# rank()

fruit_df["Rank"] = fruit_df["Quantity"].rank()
print(fruit_df)
print()
fruit_df["Rank"] = fruit_df["Quantity"].rank(ascending=False)
print(fruit_df)

In [ ]:
print("종류의 수 :")
print(fruit_df.count())
print("\nQuantity의 종류 수 :")
print(fruit_df['Quantity'].value_counts())
print("\nName의 종류 수 :")
print(fruit_df["Name"].value_counts())

In [ ]:
# 원소 체크

if 'apple' in fruit_df["Name"]:
    print("True1")

if 'apple' in list(fruit_df["Name"]):
    print("True2")

In [ ]:
print(fruit_df)
print()

fruit_df.info()

In [ ]:
fruit_df.head(3)
# fruit_df.tail(3)

In [ ]:
print(fruit_df.isnull().sum())

In [ ]:
print(fruit_df["Quantity"].unique())
print(fruit_df["Name"].unique())

In [ ]:
fruit_df.to_csv("./fruit.csv", index=False) # 인덱스도 저장할 것인지
df = pd.read_csv("./fruit.csv")
print(df)

print("-"*40)

fruit_df.to_excel("./fruit.xlsx", sheet_name="Sheet1", index=False) # 인덱스도 저장할 것인지
df = pd.read_excel("./fruit.xlsx", sheet_name="Sheet1")
print(df)

### 실습6

1. `get_oldest(df: pd.DataFrame) -> str`: 가장 나이가 많은 사람 찾기 (50점)

  `df`은 나이에 해당하는 “age” 칼럼이 포함된 `pd.DataFrame`입니다.

  * `df`에서 `age`가 가장 큰 사람이 몇 번째 사람인지 찾아 `index`에 저장합니다.

  * `index`번째 사람의 `name`칼럼의 값을 `name`에 저장해 반환합니다.

  반드시 `df`에서 데이터를 추출하는 코드를 작성하세요. 단순히 특정 값을 반환하는 함수는 오답처리될 수 있습니다.

2. `get_youngest(df: pd.DataFrame) -> str`: 가장 나이가 적은 사람 찾기 (50점)

  `df`은 나이에 해당하는 “age” 칼럼이 포함된 `pd.DataFrame`입니다.

  * `df`에서 `age`가 가장 작은 사람이 몇 번째 사람인지 찾아 `index`에 저장합니다.

  * `index`번째 사람의 `name`칼럼의 값을 `name`에 저장해 반환합니다.

  반드시 `df`에서 데이터를 추출하는 코드를 작성하세요. 단순히 특정 값을 반환하는 함수는 오답처리될 수 있습니다.

  [완성 시 출력]
  ```
  가장 나이가 많은 사람: Kim
  가장 나이가 적은 사람: Ani
```

In [ ]:
import pandas as pd


def get_oldest(df: pd.DataFrame) -> str:
    """df에서 age가 가장 큰 사람의 이름을 반환하는 함수입니다."""
    index = None
    name = None
    return name


def get_youngest(df: pd.DataFrame) -> str:
    """df에서 age가 가장 작은 사람의 이름을 반환하는 함수입니다."""
    index = None
    name = None
    return name


def main():
    # 입력 데이터 정의 (채점에서는 다른 데이터가 사용됩니다.)
    data = pd.DataFrame(columns=["name", "age"])
    data["name"] = ["Ani", "James", "Kane", "Kim", "Teddy"]
    data["age"] = [15, 19, 26, 52, 30]

    # 1. 가장 나이가 많은 사람의 이름 추출
    oldest = get_oldest(data)
    print(oldest)

    # 2. 가장 나이가 적은 사람의 이름 추출
    youngest = get_youngest(data)
    print(youngest)


if __name__ == "__main__":
    main()

### 실습 7

1. `load_data(path: str) -> pd.DataFrame`: csv 파일 불러오기 (50점)

  `path`라는 이름의 csv파일을 불러와 `pd.DataFrame`의 형태로 df에 저장하고 반환합니다.

2. `get_ranking(df: pd.DataFrame) -> pd.DataFrame`: 성적의 내림차순 순위 추가하기 (50점)

  `df`은 점수에 해당하는 “score” 칼럼이 포함된 `pd.DataFrame`입니다.

  * `df`에서 `score`가 가장 높은 사람부터 낮은 사람 순서대로 순위를 매겨 `df["rank"]`에 추가합니다.
  * 이때 `df.rank()` 함수를 사용하여 순위를 구합니다. (동점자는 평균값으로 처리합니다.)
  * `df`를 반환합니다.

  [완성 시 출력]
  ```
      student_id  score  rank
0            0     88  13.5
1            1     85  17.0
2            2     53  48.0
3            3     74  29.5
4            4     13  89.0
..         ...    ...   ...
95          95     65  37.0
96          96     29  69.0
97          97     69  34.0
98          98     10  92.0
99          99     16  84.0
```

In [ ]:
import pandas as pd
import numpy as np


def load_data(path: str) -> pd.DataFrame:
    "path라는 이름을 가진 csv파일을 읽어와 데이터프레임의 형태로 반환합니다."
    df = None
    return df


def get_ranking(df: pd.DataFrame) -> pd.DataFrame:
    "df에서 score칼럼을 기준으로 내림차순으로 정렬한 값을 rank칼럼으로 추가하고 반환합니다."
    df["rank"] = None
    return df


def main():
    DATA_PATH = "score.csv"

    # 1. csv 파일 불러오기
    df = load_data(DATA_PATH)

    # 2. rank 칼럼 추가하기
    df_rank = get_ranking(df)
    print(df_rank)


if __name__ == "__main__":
    main()

### 미션1 - 성적 데이터로 분반하기